.container,
.calculator,
.display,
.row,
.number,
.symbol,
.special {
  display: flex;
}

.container {
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: large;
  cursor: pointer;
}

.calculator {
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.display {
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  padding: 10px;
  background-color: hsl(236, 7%, 55%);
  color: hsl(0, 0%, 100%);
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.number {
  width: 70px;
}

.number,
.special {
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 82%);
  background-color: hsl(0, 0%, 88%);
}

.symbol {
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 30px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 82%);
  background-color: hsl(27, 90%, 60%);
}

.special {
  width: 100%;
}
